body {
    margin: 0;
    background-color: #F4F4F4;

    font-family: "Inter", sans-serif;
}

/***PURPLE HEADER SECTION***/
header {
    text-align: center;

    background-color: #6943FF;
    color: white;

    padding: 10px 20px;
    margin-bottom: 10px;
}

input {
    display: block;
    width: 120px;
    
    font-size: 58px;
    text-align: center;
    font-weight: bold;
    
    background-color: #6943FF;
    color: white;
    
    border-radius: 4px;
    border: 2px solid #B295FF;
    margin: 5px auto;
}

button {
    background-color: white;
    color: #3D3D3D;
    
    margin: 10px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 10px 20px;
}

button:hover {
    background-color: #6943FF;
    color: white;

    cursor: pointer;
}


/***MAIN BOXES SECTION***/
.converted-box {
    width: 80%;

    text-align: center;

    background-color: white;
    
    margin: 25px auto auto auto;
    padding: 5px 10px;
}

h2 {
    font-size: 20px;
    color: #5A537B;
}

p {
    color: #353535;
}
